<!-- footer.html -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>Wajibu</h3>
            <p>
              Civic Impact Platform<br />
              Kenya<br /><br />
              <strong>Email:</strong> support@wajibu.org<br />
            </p>
          </div>
  
          <div class="col-lg-2 col-6 footer-links">
            <h4>Explore</h4>
            <ul>
              <li><a href="/frontend/pages/faqs.html">FAQs</a></li>
              <li><a href="/frontend/pages/contact.html">Contact</a></li>
              <li><a href="/frontend/pages/privacy.html">Privacy Policy</a></li>
              <li><a href="/frontend/pages/terms.html">Terms of Service</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-6 footer-links">
            <h4>Core Pages</h4>
            <ul>
              <li><a href="/frontend/index.html">Home</a></li>
              <li><a href="/frontend/pages/about.html">About</a></li>
              <li><a href="/frontend/pages/settings.html">Settings</a></li>
              <li><a href="/frontend/pages/register.html">Register</a></li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
  
    <!-- <div class="container py-4 d-md-flex justify-content-between"> -->
      <!-- <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; <strong><span>Wajibu</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed with <a href="https://bootstrapmade.com/">BootstrapMade (Impact)</a>
        </div>
      </div> -->
    <!-- </div> -->
  </footer>
  