<!-- nav.html
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/frontend/pages/index.html">Home</a></li>
          <li><a href="/frontend/pages/about.html">About</a></li>
          <li><a href="/frontend/pages/register.html">Register</a></li>
          <li><a href="/frontend/pages/settings.html">Settings</a></li>
        </ul>
        <ul>
          <li class="dropdown">
            <a href="#"><span>Explore</span> <i class="bi bi-chevron-down"></i></a>
              <li><a href="/frontend/pages/issues.html">Issues</a></li>
              <li><a href="/frontend/pages/government-tracker.html">Government Tracker</a></li>
              <li><a href="/frontend/pages/petitions.html">Petitions</a></li>
              <li><a href="/frontend/pages/scorecards.html">Scorecards</a></li>
              <li><a href="/frontend/pages/civic-education.html">Civic Education</a></li>
              <li><a href="/frontend/pages/audit-details.html">Audits</a></li>
              <li><a href="/frontend/pages/user-dashboard.html">User Dashboard</a></li>
              <li><a href="/frontend/pages/admin-dashboard.html">Admin Dashboard</a></li>
          </li>
        </ul>
        <!-- </ul> -->
        <!-- <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
  
    </div>
  </header>
   --> -->